# Core dependencies
roboflow
supervision
opencv-python-headless
streamlit
scipy
scikit-learn
polars
pandas
numpy
pyyaml
python-dotenv
plotly

# Training dependencies
torch
torchvision
transformers
timm
pycocotools
tensorboard
pillow
mlflow
rfdetr>=1.3.0
byte-track>=1.0.0